<%= form_with(model: pioner, local: true) do |form| %>
  <% if pioner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pioner.errors.count, "error") %> prohibited this pioner from being saved:</h2>

      <ul>
        <% pioner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :\ %>
    <%= form.text_field :\ %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last-name %>
    <%= form.text_field :last-name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
