<p id="notice"><%= notice %></p>

<h1>Pioners</h1>

<table>
  <thead>
    <tr>
      <th>\</th>
      <th>First name</th>
      <th>Last-name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pioners.each do |pioner| %>
      <tr>
        <td><%= pioner.\ %></td>
        <td><%= pioner.first_name %></td>
        <td><%= pioner.last-name %></td>
        <td><%= link_to 'Show', pioner %></td>
        <td><%= link_to 'Edit', edit_pioner_path(pioner) %></td>
        <td><%= link_to 'Destroy', pioner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pioner', new_pioner_path %>
