<p id="notice"><%= notice %></p>

<p>
  <strong>\:</strong>
  <%= @pioner.\ %>
</p>

<p>
  <strong>First name:</strong>
  <%= @pioner.first_name %>
</p>

<p>
  <strong>Last-name:</strong>
  <%= @pioner.last-name %>
</p>

<%= link_to 'Edit', edit_pioner_path(@pioner) %> |
<%= link_to 'Back', pioners_path %>
